@page
@model RazorPages_PRN222.Pages.Checkout.IndexModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="container mt-5">
    <h1>Checkout</h1>
    <nav>
        <a asp-page="/Courses/Index" class="btn btn-secondary">Back to Courses</a>
        <a asp-page="/MyProfile/Index" class="btn btn-info">My Profile</a>
    </nav>
</div>