@page
@model RazorPages_PRN222.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h1>Admin Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <h3>Total Users: @Model.TotalUsers</h3>
        </div>
        <div class="col-md-4">
            <h3>Total Courses: @Model.TotalCourses</h3>
        </div>
        <div class="col-md-4">
            <h3>Total Announcements: @Model.TotalAnnouncements</h3>
        </div>
    </div>
</div>